# File modified on Mon Jul 22 02:54:10 2013 by server
# For security reasons, mod_php is not used on this server. Use a php.ini file for php directives
# php_value include_path ".:/usr/lib64/php:/usr/lib/php:/usr/share/pear:/home1/joyofcod/public_html/_dev_intro/app"

RewriteEngine on
#AuthName "intro"
#AuthUserFile "/home1/joyofcod/public_html/intro/passwd/.htpasswd"
#AuthType Basic
#require valid-user
AddHandler server-parsed .html .htm

<Limit POST GET>
order deny,allow
allow from all
#require valid-user
</Limit>

#what on earth is this here for?
RewriteCond %{REQUEST_URI} !^/?workspace/
RewriteCond %{REQUEST_URI} !^/?project/
RewriteRule ^(.*)\.html$ $1.php [NC,L]

RewriteCond %{HTTP_HOST} ^introtohtml\-net\.joyofcode\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.introtohtml\-net\.joyofcode\.com$
RewriteRule ^/?$ "http\:\/\/introtohtml\.net" [R=301,L]
