
/* 
HTML5 Browser re-set 
http://html5doctor.com/html-5-reset-stylesheet/

Rules have been modified Bud Kraus
*/


html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video 
{margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section
{display:block;}

nav ul 
{list-style:none;}

blockquote, q 
{quotes:none;}

blockquote:before, blockquote:after,
q:before, q:after 
{content:'';
content:none;}

a 
{margin:0;
padding:0;
font-size:100%;
vertical-align:baseline;
background:transparent;}

table 
{border-collapse:collapse;
border-spacing:0;}

input, select 
{vertical-align:middle;}

h1,h2,h3,h4,h5,h6
{font-weight:normal;}


/*  ---------   my styles ----------------   */

/* -------- font sizes --------------  */

p, ul, label, ol, table
{font-size:12px;}

q, caption
{font-size:14px;}

hgroup h1
{font-size:48px;}

hgroup h2
{font-size:18px;}

nav li, nav a, address
{font-size:10px;}

/* -------- main elements or on more than more than one page --------------  */

body
{background:#7e6654;
color:#000;
font-family:'trebuchetms', verdana, sans-serif;}

div#wrapper
{width:850px;
margin:0px auto;
background:#fff;
-moz-box-shadow: 10px 10px 12px #000;
-webkit-box-shadow: 10px 10px 12px #000;
-o-box-shadow: 10px 10px 12px #000;
box-shadow: 10px 10px 12px #000; 
position:relative;}

header
{margin-bottom:35px;}

hgroup
{height:100px;
background:#194e0f;}

hgroup h1
{margin-left: 20px;}

hgroup h2
{margin-left:30px;}

hgroup h1, hgroup h2
{color:#fff;
font-family:'comic sans ms', monospace;}

section#main_content
{padding:20px;
width:600px;
float:left;}  

p, ul, ol
{margin:10px 0px;}

ul, ul ul
{margin:0px 10px;}

ol li
{margin:10px 0px;}

aside
{float:left;
width:190px;
margin-top:30px !important;}  

aside header h1
{font-family:'comic sans ms', monospace;
text-align:center;}

aside form label
{margin-top:10px;
display:block;}

input[value^="submit"]
{background:#666;
color:#fff;
margin:10px 0px;}

 input[placeholder]
{color:#444;
font-family:courier, serif;}

caption
{font-family:'times new roman', serif;
font-weight:bold;
text-transform:uppercase;}

th
{font-weight:normal;
text-align:left;
font-weight:bold;}

.clearfix:after
{content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;}

section#vid_seeding object, section#vid_seeding embed
{display:block;
margin:30px auto;}

footer
{clear:both;
border:1px solid #194e0f;
background: #194e0f !important;
width:100%;}

address, address a
{color:#fff !important;
font-style:normal;;
font-family:tahoma,arial,sans-serif;}

address span
{padding-left:20px;}


/* -------- rules for index.html --------------  */

div#quote p
{float:left;
width:150px;}

 div#quote q
{float:right;
width:300px;
margin:15px  100px 15px 0px;}

img#bud
{margin-bottom:20px;}


/* -------- main for plant.html --------------  */

section#main_content section
{width:85%;
margin:0px auto;}

section img#nursery
{float:right;
padding:0px 30px;}

section#herbs img
{float:left;}

section#herbs ul
{float:right;}

section#plant img, section#no_plant img
{float:right;}

section#plant ul.plant
{float:left;}

 section#weeks img
{float:left;} 

section#weeks p
{float:right;
width:150px;
margin-left:5px;}


/* -------- rules for harvest.html --------------  */

table#planting_schedule
{margin:15px auto;}

table#planting_schedule tr:hover
{background-color:#3d80df;
color: #fff;}

table#planting_schedule th,  table#planting_schedule td
{padding:5px;}


/* -------- rules  for blog.html --------------  */

article header
{margin-bottom:0px;}

section#comment
{width:80%;
margin:0 autho;}

section#comment label
{float:left;
display:block;}

section#comment input, section#comment select, section#comment textarea
{float:right;
display:block;
margin:5px 0px;}

section#comment input[value^="submit"]
{float:none;}


/* -------- rules  anchors and navigation --------------  */

a
{color:#194d0f;
text-decoration:none;
border-bottom:1px dotted #194d0f}

a:hover
{border-bottom:0px;}

nav
{position:absolute;
height:35px;
width:100%;
background:#194e0f;
top:250px;}

nav ul
{margin-top:5px;}

nav li
{display:inline;
margin-left:20px;
color:#999;}

nav a
{color:#fff;
text-decoration:none;
border:1px solid #666;
-moz-border-radius:5px;
-o-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
text-indent:5px;
padding:5px 0px;
width:100px;
display:inline-block;
font-family:tahoma,arial,sans-serif;}

nav a:hover
{background:#999;
color:#000;}






