@import url('print.css');

@import url('../css/bootstrap.min.css');
@import url('../css/bootstrap-responsive.min.css');


/*  Table Of Contents 

Font Sizes
Header Nav
Major Rules
Sidebar
Other Sidebars
Footer
Home Page
Labs
Front Office
Code Tester
Code Style
Right And Left Adjustments
Top and Bottom Adjustmenst
Gene3ral Purpose*/


/* Layout Info

1 - All elements are inside <div id="wrapper">

#wrapper
width:900px;
margin:5px auto 10px;

Tow column Layout is set with <seciton id="main"> floating to the left and <aside id="sidebar"> floating to the right inside parent <div id="wrparrer">

#main
width:551px;
padding-left:25px;
margin:20px;

#sidebar
width:220px;
padding:10px 0 10px 50px;
margin:75px 20px 0 -10px;


Home Page is a single col and does not use <aside id="sidebar">

This rule is an embed:

  section#main
   {width:800px;
    float:none;
    padding:0 50px 0 25px ;
margin:20px;}

*/





/* ======  Font Sizes =====  */

header nav li a, header nav li strong
{font-size:10px;}

p
{font-size:14px;
line-height:1.4;}

li, dl
{font-size:14px;
line-height:1.50;}

caption
{font-size:12px;}

th, td,table.lesson8 caption
{font-size:14px;}

section#main h1
{font-size:40px;}

section#main h2
{font-size:30px;}

section#main h3
{font-size:20px;}

section#naim .exs
{font-size:10px;}

aside#sidebar h1
{font-size: 16px;}

div#end
{font-size:10px;}

code
{font-size:16px;}


/*  =====  Header Nav ==== */

header nav
{margin-left:45px;}


header nav li.active
{background:#316c2d /* url(../images/nav_dot.png) no-repeat 5px 5px;  */
color:#fff;
margin-right:10px;
padding-bottom:-20px !important;
text-indent:5px;
padding:0 10px ;
/* -moz-border-radius:1em;
-webkit-border-radius:1em;
-ms-border-radius:1em;
-o-border-radius:1em;
border-radius:1em;
text-decoration:none;;
border:1px #000 solid; */}  


header nav li a:link, header nav li a:visited
{color:#000080;
margin-right:10px;
text-indent:5px;
padding:0 15px;
-moz-border-radius:1em;
-webkit-border-radius:1em;
-ms-border-radius:1em;
-o-border-radius:1em;
border-radius:1em;
text-decoration:none;;
border:1px /* or green #98cf51 */ #f0932b solid;}

header nav li a:hover
{color:#777;
background:#999;}


/* =======  Major Rules */

body 
{background:#fff url(../images/page_bg.jpg) no-repeat  center  fixed;
color: #000000;
font-family: verdana,helvetica,sans-serif;
-webkit-background-size: cover;
-moz-background-size: cover;
-ms-background-size: cover;
-o-background-size: cover;
background-size: cover;  }

div#wrapper
{width:900px;
background:#fff;     
margin:5px auto 10px;
-moz-border-radius:2em;
-webkit-border-radius:1em;
-o-border-radius:1em;
border-radius:1em;
-webkit-box-shadow: 5px 5px 8px #999; 
-moz-box-shadow: 5px 5px 8px #999; 
-ms-box-shadow: 5px 5px 8px #999; 
-o-box-shadow: 5px 5px 8px #999; 
box-shadow: 5px 5px 8px #999;  }

header img
{display:block;
margin:0 auto;}

section#main
{width:551px;
padding-left:25px;
margin:20px;
float:left;}

section#main h1, section#main h2, section#main h3, section#main h4
{font-family: garamond, serif;}

section#main p.introduction:first-letter {
font-size : 400%;
font-weight : bold;
float : left;
padding:20px;
margin: 0 10px  10px  0;
color : #fff;
background:#000;
border:2px solid /* gray #a9a9a9 */ #f0932b;
font-family:'times new roman', serif;
-moz-border-radius:1em;
-webkit-border-radius:1em;
-ms-border-radius:1em;
-o-border-radius:1em;
border-radius:1em;}

section#main h2
{background: url(../images/heading_dot.gif) no-repeat left center;
padding-left:40px;}

section#main p 
{margin:1em 0;}

section#main label#example
{margin-bottom:1em !important;}

section#main ul, section#main ol
{margin:1em 0 1em 20px;}

section#main p#learn
{font-style:italic;
font-weight:bold;
font-variant:small-caps;}

secton#main a
{color:#000080;}

section#main dd
{margin-left:1em;}

section#main p#select
{clear:both;
padding-top:1em !important;}

section#main table 
{width:90%;
margin:1em auto;}

section#main table.lesson8 
{width:auto;
margin:0 0 0 -1em;;}

section#main table tr
{border:1px solid #999;}

section#main table.lesson8 tr
{border:none;}

section#main table tr:hover
{background:#eee;}

section#main table.lesson8 tr:hover
{background:transparent;}

section#main col#left
{width:10%;}

section#main col#center
{width:25%;}  

section#main col#right
{width:65%;}

section#main col.left
{width:10%;}

section#main col.center
{width:25%;}  

section#main col.right
{width:65%;}

td, th
{padding:1em;}

section#main p#cute_line
{text-align:center;
font-weight:bold;
font-variant:small-caps;}

p.views2
{border:1px solid #000080;
text-indent:1em;
-moz-border-radius:1em;
-ms-border-radius:1em;
-webkit-border-radius:1em;
-o-border-radius:1em;
border-radius:1em;
border:1px solid #999;
width:25%;}

div#form_example fieldset
{border:1px solid #a8a8a8;}

div#form_example input, div#form_example label
{float:none;}

img#sheets
{float:left;
padding:40px 20px 0px 0px;}

ol.formclear, ul.formclear, p.formclear
{clear:both;
padding-top:10px;}

p#note
{width:75%;
margin: 15px auto !important;
border: 2px dotted #000080; 
padding:10px;}


/* ========  Sidebar =======  */

aside#sidebar
{float:right;
width:220px;
padding:10px 0 10px 50px;
margin:75px 20px 0 -10px;
-moz-border-radius:1em;
-ms-border-radius:1em;
-webkit-border-radius:1em;
-o-border-radius:1em;
border-radius:1em;
border:1px solid #999;}

aside#sidebar h1
{margin-left: -20px;}

aside#sidebar p
{margin: 1em 0 1em -20px;}

aside#sidebar ul 
{list-style-position:inside;}

aside#sidebar a:link, aside#sidebar a:visited
{text-decoration:none;
display:block;
color: #000080;}

aside#sidebar a:hover
{text-decoration:underline;}

 aside.appendix  /* over rides display:block for anchors */
a
{display:inline !important;}

ul#breadcrumbs li
{list-style-type:none;
margin:1em 0 1em  -20px;;}


/* ======  Other Sidebars ===== */

aside#csspay
{width:250px;
float:right;
margin:20px 20px 0 -10px;}

aside#csspay form
{margin-top:20px ;}


/* =======  Footer ======  */

footer nav ul
{text-align:center;
position:relative;}

footer nav li
{display:inline;
list-style-type:none;}

footer nav li a
{color:#000080;
text-decoration:none;;}

a#next
{background:#eee url(../images/next_arrow.png) no-repeat 8px 3px ;
outline:0;
display:block;
text-decoration:none;
padding-right:8px;
text-align: right;
-moz-border-radius:1em;
-webkit-border-radius:1em;
-ms-border-radius:1em;
-o-border-radius:1em;
border-radius:1em;}

div#end
{text-align:center;
padding-bottom:20px;}


/* =====  Hoje page  ======   */

h1#home
{text-align:center;}

div#lessons 
{float:left;
width:35%;
margin-top:20px;}

div#labs 
{float:left;
width:35%;
margin-top:20px;}

div#messages 
{float:right;
width:25%;
margin-top:20px;} 


/* ========  Labs =======  */

.lab-header 
{padding-bottom: 9px;
margin: 20px 0 20px;
border-bottom: 1px solid #eeeeee;}

img.peek
{display:block;
margin:0 auto;}

div.valid
{background:#eaebee;
width:80%;
margin:0 auto;
border:2px dotted #000080;}

div.valid p
{padding: 0 20px;}

/* ===== Front Office ====== */

div#welcome
{width:220px;
padding:10px 15px 10px 10px;
float:left;
font-family:'comic sans ms', monospace;}

img#learningxss
{display:block;
margin:0 auto;}

img#fred, img#beatles
{float:left;}

img#ipod
{float:right;}

form
{width:90%;
margin:0 auto;}


label
{float:left;}


ul.schedule li
{float:left;
list-style-type:none;
margin-right:10px;}

div#say_hello input, div#say_hello label
{float:none;}

ul.schedule li input
{margin-left:10px;}

p.faqquestiions
{font-weight:bold;}

img#bookstore
{display:block;
margin:20px auto;}


div#social img
{float:left;
display:block;
margin-top:30px;}

div#social ul
{float:left;
width:250px;
margin:0 39px;}

.book_section
{padding-top:20px;}

.book_description
{width:75%;
float:right;}


/* ====  Code Tester  ======= */

div#how_to_try_box textarea
{width:250px;
height:200px;}

div#how_to_try_box iframe
{border:none;
width:250px;
height:237px;}

a#code_tester_icon
{background:url(../images/code_tester_icon.gif) no-repeat left top;
padding-left:40px;
height:40px;
display:block;}


/* =====  Code Styles  ======   */

code
{background: #FFFF9B;
 color: #000000;
border:none;
line-height:1.2
font-family: garamond, times,serif;}

span.second
{background:#0f0;}

span.nested
{background:#00f;
color:#fff;
font-weight:normal;}

span.second_nested
{background:#000;
color:#fff;
font-weight:normal;}

span.html_outline
{background:#f00;
display:block;
color:#fff;}

.exs 
{font-variant : small-caps;
font-weight : bold;}






/* ======   Right And Left Adjustments  ========== */

.PadRight1
{padding-right:1px;}

.PadRight2
{padding-right:2px;}

.PadRight5
{padding-right:5px;}

.PadRight10
{padding-right:10px;}

.PadRight15
{padding-right:15px;}


.PadLeft1
{padding-left:1px;}

.PadRight2
{padding-right:2px;}

.PadLeft5
{padding-left:5px;}

.PadLeft10
{padding-left:10px;}

.PadLeft15
{padding-left:15px;}


.MarRight1
{margin-right:1px;}

.MarRight2
{margin-right:2px;}

.MarRight5
{margin-right:5px;}

.MarRight10
{margin-right:10px;}

.MarRight15
{margin-right:15px;}


.MarLeft1
{margin-left:1px;}

.MarLeft2
{margin-left:2px;}

.MarLeft5
{margin-left:5px;}

.MarLeft10
{margin-left:10px;}

.MarLeft15
{margin-left:15px;}



/* ======   Top  And Bottom Adjustments  ========== */


.PadTop1
{padding-top:1px;}

.PadTop2
{padding-top:2px;}

.PadTop5
{padding-top:5px;}

.PadTop10
{padding-top:10px;}

.PadTop15
{padding-top:15px;}


.PadBottom1
{padding-bottom:1px;}

.PadBottom2
{padding-bottom:2px;}

.PadBottom5
{padding-bottom:5px;}

.PadBottom10
{padding-bottom:10px;}

.PadBottom15
{padding-bottom:15px;}


.MarTop1
{margin-top:1px;}

.MarTop2
{margin-top:2px;}

.MarTop5
{margin-top:5px;}

.MarTop10
{margin-top:10px;}

.MarTop15
{margin-top:15px;}


.MarBottom1
{margin-bottom:1px;}

.MarBottom2
{margin-bottom:2px;}

.MarBottom5
{margin-bottom:5px;}

.MarBottom10
{margin-bottom:10px;}

.MarBottom15
{margin-bottom:15px;}


.headerSpace
{padding:15px 0 25px;}




.padBig100
{padding:100px 0 !important;}



/* =========  Rounded Corners ======== */

.rounded10
{-moz-border-radius:10px;
-webkit-border-radius:10px;
-o-border-radius:10px;
-ms-border-radius:10px;
border-radius:10px;}

.rounded20
{-moz-border-radius:20px;
-webkit-border-radius:20px;
-o-border-radius:20px;
-ms-border-radius:20px;
border-radius:20px;}


/* ========  General Purpose ======== */

/*  my re-sets  */

h1, h2, h3, h4, h5, h6
{font-weight:normal;}

* a:hover
{outline:0 !important;}

th
{text-align:left;}

.clearfix:after
{content: "";
display: block;
height: 0;
clear: both;
visibility: hidden;}












